.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }




  .CategoriesSection h2,
  .FeaturedSection h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid rgb(214, 211, 211);
    padding-bottom: 8px;
    margin-left: 40px;
  }

  .CategoriesSection span,
  .FeaturedSection span{
    display:none;
  }

  .SpotlightSection{
    margin-top: 7%;
    margin-bottom: 7%;

  }
