
:root {
    --body-background: #eaefec;
    --primary-color: white;
    --secondary-color: #2ecc71;
    --font-family: "Helvetica Neue","Helvetica",Arial,sans-serif
}


*{
    box-sizing:border-box;
}
body{
    background-color: var(--body-background);
    font-family: var(--font-family);
    margin:0;
    padding:0;
    height: 100vh;
    overflow-x: hidden;
}
